In [5]:
import pandas as pd
from datetime import datetime

In [6]:
df = pd.read_csv('D:\Bibliotecas\Escritorio\github\project data analysis\data\empleados_raw.csv')

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\User\AppData\Local\Temp\ipykernel_10756\3626005471.py:1: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_csv('D:\Bibliotecas\Escritorio\github\project data analysis\data\empleados_raw.csv')

In [7]:
print("Datos originales:")
print(df.head())

Datos originales:
   ID  Nombre  Edad Genero Departamento FechaIngreso  Sueldo  Ausencias  \
0   1     Ana    28      F           IT   2019-03-15  120000          2
1   2    Juan    35      M         RRHH   2018-07-10  110000          4
2   3  Camila    31      F     Finanzas   2020-01-20  125000          1
3   4   Lucas    45      M           IT   2015-05-01  135000          3
4   5   Sofía    29      F    Marketing   2021-06-12   98000          0

   Satisfaccion
0             8
1             7
2             9
3             6
4             9

In [8]:
df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce')

In [9]:
df = df.dropna(subset=['FechaIngreso'])

In [10]:
hoy = pd.Timestamp.today()
df['Antiguedad'] = df['FechaIngreso'].apply(lambda x: round((hoy - x).days / 365, 1))

In [11]:
df.columns = df.columns.str.lower().str.replace(" ", "_")

In [12]:
df.rename(columns={
    "genero": "sexo",
    "satisfaccion": "satisfaccion_laboral"
}, inplace=True)

In [13]:
df.to_csv("../data/empleados_limpios.csv", index=False)

In [14]:
print("\nDatos limpios:")
print(df.head())

Datos limpios:
   id  nombre  edad sexo departamento fechaingreso  sueldo  ausencias  \
0   1     Ana    28    F           IT   2019-03-15  120000          2
1   2    Juan    35    M         RRHH   2018-07-10  110000          4
2   3  Camila    31    F     Finanzas   2020-01-20  125000          1
3   4   Lucas    45    M           IT   2015-05-01  135000          3
4   5   Sofía    29    F    Marketing   2021-06-12   98000          0

   satisfaccion_laboral  antiguedad
0                     8         6.4
1                     7         7.1
2                     9         5.5
3                     6        10.2
4                     9         4.1